@using PagedList.Mvc
@model PagedList.IPagedList<TaskManager.Models.PersonalTask>
@{
    ViewBag.Title = "Home Page";
}

<br />
    @{
        var options = new AjaxOptions()
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.ReplaceWith
        };
    }

<div class="row">
    <div class="col-md-offset-2 col-md-2 col-sm-offset-1 col-sm-3  col-xs-3 btn btn-success text-center ">
        <div>
            @Ajax.ActionLink("Create new Task", "Create", "Create", options)
        </div>
    </div>
    <div class="col-md-offset-2 col-md-6 col-sm-offset-2 col-sm-7 col-xs-10 ">
        <span>Search by </span>
        <select id="list">
            <option id ="listtype" value="Title">Title</option>
            <option id ="listtype" value="Tags">Tags</option>
            <option id ="listtype" value="Content">Content</option>
        </select>:
        <input type="text" value="" id="search" placeholder="search" />
        @Html.ActionLink("Search", "Search",new {search = "searchValue", type="typeValue" },new { @class = "btn btn-success link type" })
    </div>
</div>
<br />

        @foreach (var task in Model)
        {
            <form id="container">
                <div  class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 form-group well">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-10 text-center">
                                <h2>@Html.ActionLink(task.Title, "TaskView", new { id = task.Id }, new { @class = "nolink" })</h2>
                            </div>
                            <h2 class="icon"><a href="~/Edit/Edit/@task.Id" class="nolink col-md-1 col-sm-1 col-xs-1 glyphicon glyphicon-list-alt "></a></h2>
                            <h2 class="icon"><button data-task-id="@task.Id" class="nolink btn-link col-md-1 col-sm-1 col-xs-1 pull-right delItem glyphicon glyphicon-trash"></button></h2>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <span class="text-muted">Tags: @task.Tags.ToString()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">@task.Content</div>
                        </div>
                        <div class="row">
                            <div class="pull-right">@task.LastModified.ToShortDateString()</div>
                        </div>
                    </div>
                </div>
            </form>
        }
<div class="row">
    <div class=" text-center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    <div class=" text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    <div id="toTop" class="btn btn-warning pull-right ">
        ^ Up
    </div>
</div>
