@using PagedList.Mvc
@model PagedList.IPagedList<TaskManager.Models.PersonalTask>
@{
    ViewBag.Title = "Home Page";
}

<br />
    @{
        var options = new AjaxOptions()
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.ReplaceWith
        };
    }

<div class="row">
    <div class="col-md-offset-2 col-md-2 btn btn-success text-center ">
        <div>
            @Ajax.ActionLink("Create new Task", "Create", "Create", options)
        </div>
    </div>
    <div class="col-md-offset-3 col-md-5 ">
        <span>Search by </span>
        <select id="list">
            <option value="Title">Title</option>
            <option value="Tags">Tags</option>
            <option value="Content">Content</option>
        </select>:
        <input type="text" value="" id="search" placeholder="search" />
        @Html.ActionLink("Search", "Search",new {search = "searchValue", type="typeValue" },new { @class= "btn btn-success link type" })
    </div>
</div>
<br />
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
        @foreach (var task in Model)
        {
         <div class="row">
             <div class="col-md-offset-2 col-md-8 form-group well">
                 <div class="row">
                     <div class="col-md-offset-2 col-md-8 text-center">
                         <h2>@Html.ActionLink(task.Title, "TaskView", new { id = task.Id }, new { @class = "nolink" })</h2>
                     </div>
                     <h2><a href="~/Edit/Edit/@task.Id" class="nolink col-md-1 glyphicon glyphicon-list-alt "></a></h2>
                     <h2><a href="~/Delete/Delete/@task.Id" class="nolink col-md-1 pull-right delItem glyphicon glyphicon-trash"></a></h2>
                 </div>
                 <br />
                 <div class="row">
                     <div class="col-md-12">
                             <span class="text-muted">Tags: @task.Tags.ToString()</span>
                         </div>
                     </div>
                         <div class="row">
                             <div class="col-md-12">@task.Content</div>
                         </div>
                         <div class="row">
                             <div class="col-md-offset-10 col-md-1">@task.LastModified.ToShortDateString()</div>

                         </div>
                     </div>
                 </div>
                 }

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                 <div id="toTop" class="btn btn-warning text-center pull-right">
                     ^ Наверх
                 </div>
@section scripts
{
                     <script type="text/javascript">

                         $(function () {
                             $('.link').click(function () {
                                 var search = $("#search").val();
                                 this.href = this.href.replace("searchValue", search);
                             });
                         });

                         $(function () {
                             $('.type').click(function () {
                                 var type = $("#list").children.dropdown.val();
                                 this.href = this.href.replace("typeValue", type);
                             });
                         });

                         $(function () {

                             $(window).scroll(function () {

                                 if ($(this).scrollTop() != 0) {

                                     $('#toTop').fadeIn();

                                 } else {

                                     $('#toTop').fadeOut();

                                 }

                             });

                             $('#toTop').click(function () {

                                 $('body,html').animate({ scrollTop: 0 }, 800);

                             });

                         });

                         $(function () {
                             $.ajaxSetup({ cache: false });
                             $(".delItem").click(function (e) {

                                 e.preventDefault();
                                 $.get(this.href, function (data) {
                                     $('#dialogContent').html(data);
                                     $('#modDialog').modal('show');
                                 });
                             });
                         })
                     </script>
                 }
